.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  height:400px;
  width: 100%;
  background-color: #008deb;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.profile h2 {
  color: white;
  margin-top: 0;
}

