/* Nav bar */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  
}

/* Tweeter logo */
.logo {
  font-family: Bungee, sans-serif;
  float:left;
}

/* Write a new tweet */
nav span:nth-child(2) {
  font-family: Source Sans Pro, sans-serif;
  float:right;
}

/* Button below */
nav i {
  position: absolute;
  color: red;
  top: 3em;
  float: right;
  right:4.7em
}
