.tweets article {
  margin: 2% auto;
  padding: 0;
  border: 3px solid black;
}

.tweets article:hover {
  box-shadow: 10px 7px grey;
}


.tweets header {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.tweets img {
  margin: 15px;
  height: 70px;
  background-color: none;
}

.tweets .tweetTag {
  margin-left: auto;
  margin-right: 2em;
}

.tweets p {
  margin:15px;
  border-bottom:4px solid black;
  word-wrap: break-word;
}


.tweets footer {
  margin: 15px;
  font-size: 0.7em;
}

.tweets .icons {
  text-align:right;

}

.tweets footer i {
  padding: 0 10px;

}

.tweets footer i:hover {
  color: orange;
}