.tweets {
  margin: 5% auto;
  border: 4px solid black;
}

.tweets:hover {
  box-shadow: 10px 7px grey;
}

.tweets img {
  margin: 15px;
  width: 70px;
  height: 70px;
}


.tweets .tweetName {
  position: relative;
  bottom: 1.5em;
  font-weight: 600;
}
.tweets .tweetTag {
  float:right;
  margin: 40px;
}

.tweets p {
  margin:15px;
  border-bottom:4px solid black;
}


.tweets footer {
  margin: 15px;
  font-size: 0.7em;
}

.tweets .icons {
  text-align:right;

}

.tweets footer i {
  padding: 0 10px;

}



.tweets footer i:hover {
  color: orange;
}